# -------------
# osx file
# -------------

.DS_Store
._*


# -------------
# cache file
# -------------

*.swp


# -------------
# diff file
# -------------

*.diff


# -------------
# package
# -------------

node_modules/


# -------------
# distination
# -------------

dist/


# -------------
# source
# -------------
